@tailwind base;
@tailwind components;
@tailwind utilities;

article img {
    width: 100%;
}

article p {
    font-size: 20px;
}

@layer utilities {
    @layer responsive {

        /* Hide scrollbar for Chrome, Safari and Opera */
        .no-scrollbar::-webkit-scrollbar {
            display: none;
        }

        /* Hide scrollbar for IE, Edge and Firefox */
        .no-scrollbar {
            -ms-overflow-style: none;
            /* IE and Edge */
            scrollbar-width: none;
            /* Firefox */
        }
    }
}